@model MvcKutuphane.Models.Entity.TBL_YAZAR
@{
    ViewBag.Title = "CreateAuthor";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px;">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(s => s.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(s=>s.Ad, "", new {@style="color:red"})
    </div>
    <div style="margin-top:15px;">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(s => s.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(s=>s.Soyad, "", new {@style="color:red"})
    </div>
    <div style="margin-top:15px;">
        <label>Yazar Detay Bilgileri</label>
        @Html.TextAreaFor(s => s.Detay, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info">Yazar Ekle</button>
    </div>
</form>

