@using MvcCv.Models.Entity
@model TBL_EDUCATION
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Eğitim Ekleme Sayfası</h4>
<br />

<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(s => s.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(s=>s.Baslik,"", new {@style="color:red"})
    <br />
    @Html.Label("Alt Başlık-1")
    @Html.TextBoxFor(s => s.AltBaslik1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık-2")
    @Html.TextBoxFor(s => s.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(s => s.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(s=>s.GNO,"", new {@style="color:red"})
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(s => s.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>
