@using MvcCv.Models.Entity
@model TBL_SOCIALMEDIA
@{
    ViewBag.Title = "SosyalMedyaGüncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Sosyal Medya Hesap Düzenleme Sayfası</h4>
<br />

<form method="post">

    @Html.Label("Sosyal Medya Adı")
    @Html.TextBoxFor(s => s.Ad, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya Link")
    @Html.TextBoxFor(s => s.Link, new { @class = "form-control" })
    <br />
    @Html.Label("Sosyal Medya İkonu")
    @Html.TextBoxFor(s => s.Ikon, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>




