@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_UYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>
<table class="table table-bordered">
    <tr>
        <th>Üye Id</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Mail</th>
        <th>Kullanıcı Adı</th>
        <th>Şifresi</th>
        <th>Telefon</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Mail</td>
            <td>@item.KullaniciAdi</td>
            <td>@item.Sifre</td>
            <td>@item.Telefon</td>
            <td>@item.Okul</td>
            <td><a href="/Member/DeleteMember/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Member/UpdateMember/@item.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new {page}))
<a href="/Member/CreateMember/" class="btn btn-primary">Yeni Üye Ekle</a>

