@using MvcCv.Models.Entity
@model List<TBL_ABOUT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Hakkımda Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {
        <label>Ad</label>
        <input type="text" class="form-control" name="Ad" value="@item.Ad" />
        <br />
        <label>Soyad</label>
        <input type="text" class="form-control" name="Soyad" value="@item.Soyad" />
        <br />
        <label>Adres</label>
        <input type="text" class="form-control" name="Adres" value="@item.Adres" />
        <br />
        <label>Telefon</label>
        <input type="text" class="form-control" name="Telefon" value="@item.Telefon" />
        <br />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" value="@item.Mail" />
        <br />
        <label>Resim</label>
        <input type="text" class="form-control" name="Resim" value="@item.Resim" />
        <br />
        <label>Aciklama</label>
        <textarea rows="5" class="form-control" name="Aciklama">@item.Aciklama</textarea>
    }
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

